 @import './styles/accordion.scss';
 @import './styles/base.scss';

 .page {
    display: flex;
 }

 .side-nav {
   width: 20%;
   flex: 20% 0 0;
   background: rgb(189, 178, 178);
 }

 main {
    width: 80%;
    flex: 80% 0 0;
}